{% include 'header.html' %}

<!-- paging -->
<div id="paging" class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {% if page == 1 %}
                <li class="page-item disabled">
                    <a class="page-link" href="/movie/{{page-1}}" tabindex="-1">Previous</a>
                </li>
            {% else %}    
                <li class="page-item">
                    <a class="page-link" href="/movie/{{page-1}}" tabindex="-1">Previous</a>
                </li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="/movie/{{page+1}}">Next</a>
            </li>
        </ul>
    </nav>
</div>


<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Movie Ranking</h5>
        <div class="row">
            {% for item in list %}
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{{ item.medium_cover_image}}"
                                            alt="card image"></p>
                                    <h4 class="card-title">{{ item.rating }}</h4>
                                    <p class="card-text">{{ item.title }}</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{ item.title }}</h4>
                                    <p class="card-text">{{ item.synopsis }}</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            {% endfor %}
        </div>
    </div>
</section>
<!-- Team -->
</body>

</html>