<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bus Api</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/">HOME</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/lineform">버스도착정보</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/buslocationform">버스실시간위치</a>
      </li>    
    </ul>
  </div>  
</nav>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-5">
    <h6>버스도착 정보</h6>
    <ul class="list-group">
      {% for item in list %}
        {% if item['bustype'] != '마을버스': %}
        <li class="list-group-item">버스번호: {{item['lineNo']}} 도착시간: {{item['min1']}}분뒤 남은역: {{item['station1']}}</li>
        {% endif %}
      {% endfor %}
    </ul>
    </div>

    <div class="col-md-7">

    </div>
  </div>
</div>


</body>
</html>


